.filter {
  width: 500px;
  padding: 8px 0px 8px 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.label {
  display: block;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 24px;
}
